.table {
    background: aqua;
    padding: 20px;
    display: grid;
    grid-template-columns:100px 100px 1fr 1fr;
    > div{
      background: beige;
      display: flex;
      justify-content: center;
  }}

//}
//.tableExspenses {
//  display:flex;
//  background: deeppink;
//  padding: 30px;
//  justify-content: space-evenly;
//  > div{
//    display: flex;
//    justify-content: center;
//  }
//}